@import "tailwindcss";

@theme {
  --color-background-primary: #0a0a0a;
  --color-background-secondary: #171717;
  --color-text-primary: #f3f4f6;
  --color-text-secondary: #9ca3af;
  --color-accent: #3b82f6;
  --color-accent-gradient-start: #3b82f6;
  --color-accent-gradient-end: #8b5cf6;
}

@layer base {
  body {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
  }
}
